footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.find-us {
    font-size: 18px;
}
.icons {
    display: flex;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

.icons i {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    font-size: xx-large;
}

#fac {
    color: #3b5998;
}

#msn {
    color: #0084ff;
}

#tw {
    color: #1da1f2;
}

#envelop {
    color: #615f5d;
}

#instagram {
    color: #bc2a8d;
}
   
#fac:hover {
    background-color: #3b5998;
    color: #fff;
}

#msn:hover {
    background-color: #0084ff;
    color: #fff;
}

#tw:hover {
    background-color: #1da1f2;
    color: #fff;
}

#envelop:hover {
    background-color: #615f5d;
    color: #fff;
}

#instagram:hover {
    background-color: #bc2a8d;
    color: #fff;
}

.minor-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

.minor-info a {
    padding: 10px;
    margin: 5px;
    background-color: #fafafa;
    border: 1px solid #d2d2d2;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #000;
}

.minor-info a:hover {
    background-color: #205077;
    color: #fff;
}

footer p {
    margin: 5px 0 0 2px;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    color: #333;
}

@media screen and (min-width: 481px) {
    .minor-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
