body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-and-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #333;
}

form .icon-form {
    align-self: center;
    margin-right: 6px;
    font-size: 22px;
    color: #fff;
}

form .title {
    padding: 10px;
    margin: 2px;
    font-weight:700;
    font-size: 22px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #fff;
}

form p {
    margin-top: 0;
    padding-bottom: 10px;
    font-weight: 500px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
    background-color: #333;
}

.subscribe span {
    text-transform: capitalize;
}

.field-container {
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 15px;
}

.field-container label {
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #bbb;
}

.field-container label:hover {
    background-color: #c44911;
    color: #fafafa;
}

.field-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.field-container button {
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 14px;
    background-color: #333;
    color: #fff;
}

.hidden {
    display: none;
}


/* Validation styles */

.field-error {
    border: 3px solid #8b0000;
    background-color: #e2bfbf;
}

.error {
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #8b0000;
    border-radius: 3px;
    background-color: #f0dfdf;
}





