.main-art, .sec-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-art {
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-art img {
    max-width: 80%;
    min-height: 40%;
    margin-top: 10px;
    border-radius: 25px;
}

.main-art a {
    display: block;
    padding: 10px 10px 0 10px;
    margin:  10px 10px 0 10px;
    font-weight:700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

.main-art a:hover {
    color: #c44911;
}

.main-art p {
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #000;
}

.other-news {
    margin-top: 0;
    background-color: #ddd;
}

.more-news {
    margin-top: 0;
    padding: 5px;
    background-color: #205077;
    border: 1px solid #333;
    font-weight:700;
    font-size: 32px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #fff; 
}

.sec-articles {
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec-articles img {
    max-width: 80%;
    min-height: 40%;
    margin-top: 5px;
    border-radius: 25px;
}

.sec-articles a {
    padding-top: 5px;
    font-weight:700;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

.sec-articles a:hover {
    color: #c44911;
}

.sec-articles p {
    font-size: 13px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

form {
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    background-color: #205077;
}

form .title {
    padding: 10px;
    margin: 2px;
    background-color: #333;
    border: 1px solid #333;
    font-weight:700;
    font-size: 22px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #fff;
}

form p {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
}

form span {
    text-transform: capitalize;
}

form .email {
    margin: 5px 5px;
    padding: 7px;
    background-color: #fafafa;
    border: 0;
    font-weight:400;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
    color: #000;
}

form .button {
    padding: 10px;
    margin: 5px;
    background-color: #333;
    border: 1px solid #333;
    font-weight:800;
    font-size: 16px;
    line-height: 19px;
    font-family: Arial;
    color:#fff;
}

.most-viewed {
    margin-top: 10px;
    background-color: #eee;
}

.most-viewed p {
    padding: 20px 10px;
    margin: 0;
    border: 6px solid #c44911;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #000;
}

.most-viewed a {
    padding-bottom: 25px;
    font-weight:700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}

.most-viewed ol {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.most-viewed li {
    padding: 10px;
    margin: 5px;
}

.container .ads {
    max-width: 100%;
    min-height: 40%;
}
