.main-content, .sec-articles {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.main-art img {
    max-width: 80%;
    min-height: 40%;
    margin-top: 10px;
    border-radius: 20%;
    border: 2px solid #205077;
}

.main-art a {
    display: block;
    font-weight:700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
}

.main-art a:hover {
    color: #c44911;
}

.main-art p {
    font-size: 13px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.other-news {
    background-color: #ddd;
}
.more-news {
    padding: 20px;
    background-color: #205077;
    border: 1px groove #333;
    font-weight:700;
    font-size: 32px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: capitalize;
}

.sec-articles img {
    max-width: 80%;
    min-height: 40%;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #205077;
}

.sec-articles a {
    padding-top: 10px;
    font-weight:700;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
}

.sec-articles a:hover {
    color: #cc0000;
}

