.content-and-sidebar {
    padding: 5px 2px;
}

.article, .secondary-news article, .articles-other-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.article a {
    display: block;
    margin-bottom: 10px;
    font-weight:700;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #000;
}

.article a:hover {
    color: #c44911;
}

.article p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #000;
}

.secondary-news article {
    padding: 5px;
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondary-news article img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.secondary-news article a {
    display: block;
    margin-bottom: 10px;
    font-weight:700;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #000;
}

.secondary-news article a:hover {
    color: #c44911;
}

.secondary-news article p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #000;
}

.other-news {
    margin-top: 0;
}

.more-news {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #205077;
    border: 1px solid #333;
    font-weight:700;
    font-size: 32px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #fff; 
}

.articles-other-news {
    box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 20px 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ddd;
    margin: 5px;
}

.articles-other-news img {
    max-width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.articles-other-news a {
    padding-top: 10px;
    margin-left: 5px;
    font-weight:700;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #000;
}

.articles-other-news a:hover {
    color: #c44911;
}

.articles-other-news p {
    margin-left: 5px;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar form {
    display: flex;
    flex-flow: column wrap;
    padding: 15px 0;
    background-color: #205077;
}

.icon-and-title {
    display: flex;
    justify-content: center;
    background-color: #333;
    border: 1px solid #333;
}

form .icon-form {
    display: flex;
    align-self: center;
    font-size: 22px;
    color: #fff;
}

form .title {
    padding: 10px;
    margin: 2px;
    font-weight:700;
    font-size: 22px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    color: #fff;
}

form p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fff;
}

form span {
    text-transform: capitalize;
}

form .email {
    margin: 5px 4px;
    padding: 7px;
    background-color: #fafafa;
    border: 0;
    font-weight:400;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    color: #000;
}

form .button {
    padding: 9px;
    margin: 5px 2px;
    background-color: #333;
    border: 1px solid #333;
    font-weight:800;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    color:#fff;
}

.list-most-viewed {
    margin-top: 10px;
    background-color: #fff;
}

.list-most-viewed p {
    padding: 15px;
    margin: 0;
    background-color: #c44911;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.list-most-viewed a {
    padding-bottom: 25px;
    font-weight:700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #000;
}

.list-most-viewed ol {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.list-most-viewed li {
    padding: 10px;
}

.list-most-viewed li:hover {
    background-color: #c44911;
}

.list-most-viewed a:hover {
    color: #fff;
}

.odd-item {
    background-color: #ccc;
}

.container-ads .ads {
    max-width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .primary-new {
        display: flex;
        text-align: left;
    }

    .article {
        box-shadow: none;
        padding: 5px;
    }

    .article p {
        margin-bottom: 10px;
    }

    .secondary-news {
        display: flex;
        flex-wrap: wrap;
    }

    .secondary-news article {
        flex-basis: 100%;
        padding: 5px;
        box-shadow: none;
        border: 1px solid #d2d2d2;
    }

    .secondary-news article p {
        margin-bottom: 10px;
    }

    .content-and-sidebar {
        display: flex;
        padding: 10px 0px 16px 0;
    }

    .sidebar {
        margin-left: 10px;
    }

    .sidebar form {
        padding: 15px;
    }

    .icon-and-title {
        padding: 0 0  0 10px;
    }

    form .title {
        text-align: left;
        font-size: 16px;
    }

    form p {
        font-size: 12px;
    }

    form .email {
        font-size: 10px;
    }

    form .button {
        font-size: 14px;
    }

    .list-most-viewed p {
        font-size: 16px;
    }

    .list-most-viewed a {
        font-size: 14px;
        line-height: 12px;
    }

    .list-most-viewed ol {
        margin: 10px 0 10px 20px;
    }

    .more-news {
        font-size: 26px;
    }

    .other-news {
        display: flex;
        flex-wrap: wrap;
    }

    .articles-other-news {
        flex-basis: 46.6%;
        padding: 15px;
        margin: 5px;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .primary-new {
        display: flex;
        text-align: left;
    }

    .article {
        box-shadow: none;
    }

    .article p {
        margin-bottom: 10px;
    }

    .secondary-news {
        display: flex;
        flex-wrap: wrap;
    }

    .secondary-news article {
        flex-basis: 47.2%;
        box-shadow: none;
        background-color: #fff;
    }

    .secondary-news article p {
        margin-bottom: 10px;
    }

    .secondary-news article:last-child {
        flex-basis: 100%;
    }

    .content-and-sidebar {
        display: flex;
        padding: 10px 0 16px 0;
    }

    .sidebar {
        margin-left: 10px;
    }

    .sidebar form {
        padding: 15px;
    }

    .icon-and-title {
        padding: 0 0  0 10px;
    }

    form .title {
        text-align: left;
        font-size: 16px;
    }

    form p {
        font-size: 12px;
    }

    form .email {
        font-size: 10px;
    }

    form .button {
        font-size: 14px;
    }

    .list-most-viewed p {
        font-size: 16px;
    }

    .list-most-viewed a {
        font-size: 14px;
        line-height: 12px;
    }

    .list-most-viewed ol {
        margin: 10px 0 10px 20px;
    }

    .more-news {
        font-size: 26px;
    }

    .other-news {
        display: flex;
        flex-wrap: wrap;
    }

    .articles-other-news {
        flex-basis: 46.6%;
        padding: 15px;
        margin: 5px;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .primary-new {
        display: flex;
        text-align: left;
    }

    .article {
        box-shadow: none;
    }

    .article a {
        font-size: 18px;
    }

    .article p {
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .secondary-news {
        display: flex;
        flex-wrap: wrap;
    }

    .secondary-news article {
        flex-basis: 31.6%;
        box-shadow: none;
        background-color: #fff;
    }

    .secondary-news article a {
        font-size: 18px;
    }

    .secondary-news article p {
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .content-and-sidebar {
        display: flex;
        padding: 10px 0 16px 0;
    }

    .sidebar {
        margin-left: 10px;
    }

    .sidebar form {
        padding: 10px;
    }

    .icon-and-title {
        padding: 0 0  0 10px;
    }

    form .title {
        text-align: left;
        font-size: 20px;
    }
    
    form p {
        font-size: 14px;
    }
    
    form .email {
        font-size: 10px;
    }

    form .button {
        font-size: 16px;
    }
    
    .list-most-viewed p {
        font-size: 16px;
    }
    
    .list-most-viewed a {
        font-size: 16px;
        line-height: 12px;
    }
    
    .list-most-viewed ol {
        margin: 10px 0 10px 10px;
    }
    
    .more-news {
        font-size: 32px;
    }
    
    .other-news {
        display: flex;
        flex-wrap: wrap;
    }
    
    .articles-other-news {
        flex-basis: 31.66%;
        padding: 15px;
        margin: 5px;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
    }

    .articles-other-news a {
        font-size: 18px;
    }

    .articles-other-news p {
        font-size: 16px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1025px) {
    .primary-new {
        display: flex;
        text-align: left;
    }

    .article {
        box-shadow: none;
        padding: 0;
    }

    .article a {
        font-size: 22px;
        padding-left: 5px;
    }

    .article p {
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 18px;
        line-height: 18px;
    }
    
    .secondary-news {
        display: flex;
        flex-wrap: wrap;
    }

    .secondary-news article {
        flex-basis: 31.6%;
        padding: 5px;
        box-shadow: none;
        background-color: #fff;
    }

    .secondary-news article a {
        font-size: 22px;
        padding-left: 5px;
    }

    .secondary-news article p {
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 18px;
        line-height: 18px;
    }
    
    .content-and-sidebar {
        display: flex;
        padding: 10px 0 16px 0;
    }

    .sidebar {
        margin-left: 10px;
    }

    .sidebar form {
        padding: 10px;
    }

    .icon-and-title {
        padding: 0 0  0 10px;
    }

    form .title {
        text-align: left;
        font-size: 22px;
    }
    
    form p {
        font-size: 15px;
    }
    
    form .email {
        font-size: 10px;
    }

    form .button {
        font-size: 16px;
    }
    
    .list-most-viewed p {
        font-size: 22px;
    }
    
    .list-most-viewed a {
        font-size: 18px;
        line-height: 20px;
    }
    
    .list-most-viewed ol {
        margin: 10px 0 10px 10px;
    }
    
    .more-news {
        font-size: 36px;
    }
    
    .other-news {
        display: flex;
        flex-wrap: wrap;
    }
    
    .articles-other-news {
        flex-basis: 31.66%;
        padding: 15px;
        margin: 5px;
        box-sizing: border-box;
        box-shadow: none;
        border-radius: 5px;
    }

    .articles-other-news a {
        font-size: 22px;
    }

    .articles-other-news p {
        font-size: 18px;
        line-height: 18px;
    }
}

    






